* {
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-image: linear-gradient(180deg, rgb(185 96 209), rgb(154 62 179));
  color: white;
  padding: 10px 0px 10px 0px;
}

.navbar h1{
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  height: 90em;
  background-image: url("Public/bg_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#display{
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

.boxSection {
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
}

.container-box {
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 2em;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border: 1px solid white;
}

.container-box div {
  margin-top: 20px;
}

#box1{
  transition: background-color 0.5s ease;
}

.container-box input {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  color: white;
  margin: 10px 0px 10px 0px;
  border-radius: 1em;
}

.btncontainer button {
  padding: 15px;
  font-size: 15px;
  margin-right: 10px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 1em;
}

.btncontainer2 button {
  padding: 15px;
  font-size: 15px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin-right: 10px;
  border-radius: 1em;
}

.btncontainer3 button{
  padding: 15px;
  font-size: 15px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin-right: 10px;
  border-radius: 1em;
}

footer{
  padding: 10px 50px 10px 50px;
  color: white;
  background-color: rgb(34, 26, 26);
}

@media (max-width: 430px){
  .container{
    height: 60em;
  }
}