div{
    margin-bottom: 50px;
}

.color_bg{
    width: 200px;
    height: 100px;
    box-shadow: 0px 0px 20px;
}

.clr_div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
