@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
}

body {
  background-color: gray;
}

.container {
  max-width: 1440px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px black;
  margin: 20px;
  border-radius: 1em;
}

.runnerDiv {
  display: flex;
  justify-content: center;
}

.runnerCard {
  background-color: grey;
  width: 280px;
  height: 480px;
  margin: 10px 10px 0px 10px;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 200px;
  border-radius: 30px;
  font-family: "Cabin", sans-serif;
  text-shadow: -4px -1px 0 #000, 4px -1px 0 #000, -1px 4px 0 #000,
    1px -4px 0 #000;
  border-radius: 30px;
  clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%);
}

.catcherDiv {
  display: flex;
  justify-content: center;
}

.catcherCard {
  background-color: grey;
  width: 280px;
  height: 480px;
  margin: 10px 10px 0px 10px;
  color: white;
  text-align: center;
  align-content: center;
  font-size: 200px;
  font-family: "Cabin", sans-serif;
  text-shadow: -4px -1px 0 #000, 4px -1px 0 #000, -1px 4px 0 #000,
    1px -4px 0 #000;
  border-radius: 30px;
  clip-path: polygon(20% 0%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0% 20%);
}

.card {
  min-width: 250px;
  min-height: 450px;
  width: 300px;
  height: 500px;
  margin: 10px 50px 10px 50px;
  border-radius: 1em;
  background-color: white;
  border: 3px solid black;
}

.cardOpr {
  display: flex;
  min-width: 400px;
  width: 600px;
  background-color: rgb(241, 125, 16);
  border: 3px solid white;
  border-radius: 2em;
  margin: 50px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  justify-content: space-evenly;
  flex-direction: column;
}

.cardOprflx {
  display: flex;
  font-size: 25px;
  flex-direction: row;
  justify-content: space-evenly;
}

.Winnerdiv {
  position: fixed;              /* Stays in place over everything */
  top: 0;
  left: 0;
  width: 100vw;                 /* Full width of viewport */
  height: 100vh;                /* Full height of viewport */
  background-color: rgba(0, 0, 0, 0.8); /* Dark transparent overlay */
  display: flex;                /* Center the winner box */
  justify-content: center;
  align-items: center;
  z-index: 9999;                /* Always on top */
}

.Winner {
  background-color: #38bdf8;    /* Aqua-ish winner box */
  padding: 50px 100px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

.Winner p {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px #000;
}


@media (max-width: 1200px) {
  .runnerCard {
    width: 230px;
    height: 430px;
    margin: 10px 10px 0px 10px;
  }
  .catcherCard {
    width: 230px;
    height: 430px;
    margin: 10px 10px 0px 10px;
  }

  .card {
    width: 250px;
    height: 450px;
    margin: 10px 10px 0px 10px;
  }

  .cardOpr {
    margin: 10px;
  }

  .cardOprflx {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .runnerDiv {
    flex-direction: column-reverse;
    align-items: center;
  }

  .catcherDiv {
    flex-direction: column-reverse;
    align-items: center;
  }

  .cardOpr {
    min-width: 10px;
    width: 250px;
    border-radius: 10px;
  }

  .cardOprflx {
    flex-direction: column;
    margin: 10px;
    font-size: 15px;
  }
}
